.refresh {
  background-image: url(../image/pub/refresh.png) !important;
}
.add {
  background-image: url(../image/icons/fam/user_add.png) !important;
}
.edit {
  background-image: url(../image/icons/fam/user_edit.png) !important;
}
.remove {
  background-image: url(../image/icons/fam/user_delete.png) !important;
}
.logout {
  background-image: url(../image/toolbar/logoff.png) !important;
}
.export {
  background-image: url(../image/toolbar/import.png) !important;
}
.import {
  background-image: url(../image/toolbar/export.png) !important;
}
.hadExpress {
  background-image: url(../image/toolbar/import.png) !important;
}
.eidtCustomer_number {
  background-image: url(../image/toolbar/page_edit.png) !important;
}
.addCustomerRent {
  background-image: url(../image/icons/fam/book.png) !important;
}
.editCustomerRule {
  background-image: url(../image/icons/fam/plugin_add.gif) !important;
}
.copyCustomerRule {
  background-image: url(../image/toolbar/BkToDoc.png) !important;
}
.btnAdd {
  background-image: url(../image/icons/fam/add.png) !important;
}
.customerGrid {
  background-image: url(../image/icons/fam/user.png) !important;
}
.tracking_numberGrid {
  background-image: url(../image/toolbar/NewDoc.png) !important;
}
.expressGrid {
  background-image: url(../image/icons/fam/application_view_list.png) !important;
}
.home {
  background-image: url(../image/tree/home.png) !important;
}
.search {
  background-image: url(../image/pub/search.png) !important;
}
.translate {
  background-image: url(../image/workFlow/task-loading.png) !important;
}
.retranslate {
  background-image: url(../image/workFlow/re-task-loading.png) !important;
}
.labelCanSelect {
  color: blue;
  moz-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.error {
  background-image: url(../image/grid/cancelFax.png) !important;
}
.base_add {
  background-image: url(../image/icons/fam/add.png) !important;
}
.base_edit {
  background-image: url(../image/icons/fam/cog_edit.png) !important;
}
.base_delete {
  background-image: url(../image/icons/fam/delete.gif) !important;
}
.downloadTpl {
  background-image: url(../image/fileimg/xlsx.png) !important;
}
.download {
  background-image: url(../image/tree/download.png) !important;
}
.about {
  background-image: url(../image/workFlow/flag/wFlag1.png) !important;
}
.remove_base {
  background-image: url(../image/icons/fam/delete.gif) !important;
}
.status-suc {
  background-image: url(../image/workFlow/task-suc.png) !important;
}
.attachFile {
  background-image: url(../image/pub/attach.png) !important;
}
.upload {
  background-image: url(../image/sms/status/outstatus.1.png) !important;
}
.fileupload {
  background-image: url(../image/toolbar/imgfolder.png) !important;
}
