.refresh {
  background-image: url(../image/pub/refresh.png) !important;
}
.add {
  background-image: url(../image/pub/addRec.png) !important;
}
.logout {
  background-image: url(../image/toolbar/logoff.png) !important;
}
